.banner {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../../images/vietnam.jpg");
	color: white;
	padding: 80px 0px;
	background-size: cover;
	background-position: center;
	text-align: center;

height: 400px;

display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  padding: 0 20px; 
}

.banner h1 {
	font-family:'Oswald', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
}

.banner h2 {
	font-family: 'Roboto' sans-serif;
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 40px;
	opacity: 0.9;
}